@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
#root {
  margin: 0;
  background: rgb(93,93,170);
  background: linear-gradient(90deg, rgba(93,93,170,1) 3%, rgba(160,160,208,1) 25%, rgba(233,233,233,1) 100%);
  font-family: 'Poppins', sans-serif;
}
.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}
.thermometer{
   transform: rotate(45deg);
}
